<!-- Hero Section -->
<header class="hero-navy text-white py-5">
  <div class="container text-center">
    <h1 class="display-4">Bienvenue chez The Chatons Project</h1>
    <p class="lead">Découvrez avec nous les plus mignonnes photos de chatons ! </p>
    <%= link_to "Voir nos photos de chatons", items_path , class: "btn bg-primary text-custom-color btn-lg " %>
  </div>
</header>
<%= render 'layouts/carousel' %>
